body {
  font-family: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, .title {
  font-family: 'Poppins', sans-serif;
}

header img{
    width:200px;
}

.divisor {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
}

.divisor hr {
  flex: 1;
  border: none;
  height: 1px;
  background: #e5e7eb;
}

.divisor span {
  font-size: 14px;
  color: #9ca3af;
}

.google-auth {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 90px;
  
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.google-auth img {
  width: 18px;
}
