body {
  font-family: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, .title, h5 {
  font-family: 'Poppins', sans-serif;
}

header img{
    width:250px;
    position: absolute;
}

footer{
  border-top: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
}